/* styles.css */
.backgroundError {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
}
.backgroundError::before {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0.5;
    background-image: url('https://media.tenor.com/CFAwMDCOzvUAAAAd/one-piece-anime.gif');
    background-size: cover;
    background-position: center;
    z-index: -1
  }
  